#responsive-header {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--foreground-color)!important;
    background-color: var(--neutral-color)!important;
    .toolbar {
        margin-left: 0;
        margin-right: 0;
    }
    .title {
        width: 100%;
    }
    #open-side-panel {
        display: none;
    }
}

#toolbar{
    color: var(--foreground-color)!important;
    background-color: var(--neutral-color)!important;

}

//mostra il temporary drawer a destra solo quando lo schermo è compreso tra 600px e 1200px
@media (width < 600px), (width > 1200px) {
    
    #temporarydrawerright{
        display: none;
    }

    #hamburgericonright{
        display: none;
    }  

}

@media (width > 600px) {
    #responsive-header {
        .toolbar {
            margin-left: var(--navrail-small) !important;
        }
        #left-panel-button {
            display: none;
        }
        #user-account {
            display: none;
        }
        #open-side-panel {
            display: flex !important;
        }
    }

    //non mostrare il temporary drawer a sinistra
    #temporarydrawerleft{
        display: none;
    }

    #hamburgericonleft{
        display: none;
    }
  
  
    
}
@media (width > 900px) {
    #responsive-header {
        .toolbar {
            margin-left: var(--navrail-medium) !important;
        }
    }

    
}
@media (width > 1200px) {
    #responsive-header {
        .toolbar {
            margin-right: var(--navrail-medium) !important;
        }
        #open-side-panel {
            display: none;
        }
    }

    
}