#navrail {
    display: none;
    width: var(--navrail-small);
    > div {
        width: var(--navrail-small) !important;
        border: 0;
    }
}
#extra-panel {
    display: none;
    width: var(--navrail-medium);
    > div {
        width: var(--navrail-medium) !important;
        border: 0;
    }
}

.side-panel {
    width: var(--navrail-medium);
    div {
        color: var(--foreground-color)!important;
        background-color: var(--neutral-color)!important;
    }
    .panel-name {
        margin-left: 15px;
    }
    hr {
        margin: 5px 0;
        border: 0;
    }
}

.css-1oqqzyl-MuiContainer-root {
    margin-left: 0;
    margin-right: 0;
}

#createNavrailExtended{
    display: none;
}

@media (width > 600px) {
    #navrail {
        display: flex;
    }
    
    #createNavrail{
        width: 40px;
        height: 40px;
        margin-left: 12px;
    } 
}

@media (width > 900px) {
    #navrail {
        width: var(--navrail-medium) !important;
        > div {
            width: var(--navrail-medium) !important;
        }
    }
}

@media (width > 900px) {
    #createNavrail{
        display: none;
    }  

    #createNavrailExtended{
        display: flex;
        margin-left: 20px;
    }
}

@media (width > 1200px) {
    #extra-panel {
        display: flex;
    }
}

