#new-group-form {
    .section-title {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #group-main-info-section {
        display: flex;
        flex-direction: column;
    }
    
    #new-group-icon {
        width: 90px;
        height: 90px;
        background-color: var(--accent-color);
    }
    #contents-section {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        
    }
    
}

@media (width > 600px) { 
    #new-group-form { 
        #group-main-info-section {
            flex-direction: row;
            #group-info-icon {
                margin-left: 15px;
                margin-right: 0;
            }
        }
        #contents-section {
            flex-direction: row;
            #contents-check {
                margin-left: auto;
                margin-right: 0;
                width: 300px;
            }
        }
    }
    
}
