:root {
  --white:#FFFFFF;

  --neutral-color: var(--white);
  --neutral-color-dark: #FAFAFA;
  --secondary-color: #EBEBEB;
  --foreground-color: #333234;
  --accent-color: #FFDE18;
  --accent-color-transparent:hsla(51, 100%, 55%, 0.1);
  --accent-color-tonal: #ffdc182b;
  --shadow: rgba(51, 50, 52, 0.5);

  --border-radius-md: 12px;

  --navrail-small: 64px;
  --navrail-medium: 250px;

  --break-sm: 600px;
  --break-md: 900px;
  --break-lg: 1200px;
  --break-xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-color:#1F1E1F;
    --neutral-color-dark: #242324;
    --secondary-color: #262627;
    --foreground-color: var(--white);
    --accent-color: #FFDE18;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-color);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
@media (width > 600px) {
  body {
    flex-direction: row;
  }

  main {
    margin-bottom: 0 !important;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

nav {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: var(--neutral-color);
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    margin: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#central-panel {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  margin-top: 64px;
  margin-bottom: 62px;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: var(--neutral-color);
  overflow-y: hide;
  #content-panel {
      margin: 0;
      padding: 20px;
      border-radius: 12px;
      color: var(--foreground-color);
      background: var(--secondary-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
  }
}

//Modifiche per adattare lo stile del pulsante base al Material 3
.MuiButtonBase-root {
  border-radius: 100px !important;
  text-transform: none !important;
}

.MuiButton-outlined {
  color: var(--accent-color);
  border: 1px solid var(--md-sys-color-outline, var(--md-ref-palette-neutralVariant-50, #79747e)) !important;
}
.MuiButton-outlined:hover {
  background-color: var(--accent-color-transparent);
}
.MuiButton-containedPrimary {
  background-color: var(--accent-color);
  border: 0 !important;
}
.MuiButton-containedPrimary:hover {
  background-color: var(--accent-color);
}


#login-page {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground-color);
  #company-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #company-logo {
      margin: 0;
      padding: 0;
      width: 100px;
      color: var(--foreground-color);
    }
  }
  
  #account-section {
    margin: 0 auto;
    padding: 0 20px;
    width: 300px;
    .xxl-text {
      font-size:xx-large;
    }
    button {
      margin: 10px auto 10px auto;
      width: 300px;
      font-weight: bold;
      font-size: medium;
    }
    .MuiButton-filled {
      color: var(--white);
      background-color: var(--accent-color);
    }
    .MuiButton-outlined {
      color: var(--accent-color);
    }
    .MuiButton-outlined:hover {
      background-color: var(--accent-color-tonal);
    }
    hr {
      margin: 15px 0px;
      color: transparent;
    }
  }
}

@media (width > 600px) {
  #login-page {
    display: flex;
    flex-direction: row;
    #company-section {
      flex-direction: column;
      #company-logo {
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
    #account-section {
      margin-left: auto;
      margin-right: 0;
      width: 380px;
    }
  }
}

@media (width > 800px) {
  #login-page {
    #company-section {
      #company-logo {
        width: 400px;
      }
    }
  }
}