//CSS variables for main theme
:root {
  //System pure colors
  --white:#FFFFFF;

  //System main colors
  --neutral-color: var(--white);
  --neutral-color-dark: #FAFAFA;
  --secondary-color: #EBEBEB;
  --foreground-color: #333234;
  --accent-color: #FFDE18;
  --accent-color-transparent:hsla(51, 100%, 55%, 0.1);
  --accent-color-tonal: #ffdc182b;
  --shadow: rgba(51, 50, 52, 0.5);

  //System text colors
  --main-text-color: var(--foreground-color);
  --filter-text: invert(16%) sepia(1%) saturate(3061%) hue-rotate(233deg) brightness(97%) contrast(88%);


  //System custom parameters
  --border-radius-md: 12px;

  --navrail-small: 64px;
  --navrail-medium: 250px;

  --break-sm: 600px;
  --break-md: 900px;
  --break-lg: 1200px;
  --break-xl: 1536px;
}

//CSS variables for dark theme
@media (prefers-color-scheme: dark) {
  :root {
    //System main colors
    --neutral-color:#1F1E1F;
    --neutral-color-dark: #242324;
    --secondary-color: #262627;
    --foreground-color: var(--white);
    --accent-color: #FFDE18;

    //System text colors
    --main-text-color: var(--foreground-color);
    --filter-text: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-color);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
@media (width > 600px) {
  body {
    flex-direction: row;
  }

  main {
    margin-bottom: 0 !important;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

nav {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: var(--neutral-color);
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    margin: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#central-panel {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  margin-top: 64px;
  margin-bottom: 62px;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: var(--neutral-color);
  overflow-y: hide;
  #content-panel {
      margin: 0;
      padding: 20px;
      border-radius: 12px;
      color: var(--foreground-color);
      background: var(--secondary-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
  }
}

//Modifiche per adattare lo stile del pulsante base al Material 3
.MuiButtonBase-root {
  border-radius: 100px !important;
  text-transform: none !important;
}

.MuiButton-outlined {
  color: var(--accent-color);
  border: 1px solid var(--md-sys-color-outline, var(--md-ref-palette-neutralVariant-50, #79747e)) !important;
}
.MuiButton-outlined:hover {
  background-color: var(--accent-color-transparent);
}
.MuiButton-containedPrimary {
  background-color: var(--accent-color);
  border: 0 !important;
}
.MuiButton-containedPrimary:hover {
  background-color: var(--accent-color);
}
