

nav {
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: var(--neutral-color);
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        margin: auto;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

main {
    margin-top: 64px;
    margin-bottom: 62px;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    overflow-y: scroll;
    #content-panel {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (width > 600px) {
    #bottomnavigation {
        display: none !important;
    }
}