.MuiPaper-root{
    color: var(--foreground-color)!important;
    background-color: var(--neutral-color)!important;
}

.MuiSvgIcon-root{
    color: var(--foreground-color)!important;
}

@media (width <= 600px) {
    
    #temporarydrawerright{
        display: none;
    }

    #hamburgericonright{
        display: none;
    }  

}