.box{
    background: var(--secondary-color);
    flex-direction: row;
    height: 40px;
    width: 100%;
    border-radius: 1%;
    align-items: baseline ;
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 15px 15px;

    .bottom-groups{
        margin-bottom: 15px;
        color: var(--foreground-color);
        background: none;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        justify-content: flex-end; /* Aggiunto per posizionare a destra */
   

        .bott{
            margin-bottom: 15px;
            margin-right: 35px;
            padding: 10px;
            border-radius: 50px;
            width: 15%;
            height: 10%;
            display: flex;
        }
    
    }
}

.search{
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50px;
    width: 15%;
    height: 10%;
    display: flex;
    margin-left: 180px;
}


@media (width <= 1200px) {

    .bottom-groups {
        display: none !important;
    }
  
}
