#bottom-navbar {
  height: 60px;
  .navbar {
    width: 100%;
    height: 100%;
  }
}

// class that contains navbar style
.navbar {
  margin: 0;
  background-color: var(--neutral-color);

  //default icon style
  .icon {
    margin-top: 5px;
    color: var(--icon-color, var(--foreground-color));
    font-size: var(--icon-size, 24px);
  }
  
  //default button style
  .button {
      border-radius: 0; 
      padding: 0;
  }

  // default label color
  .MuiBottomNavigationAction-label {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
    color: var(--foreground-color);
  }
  
  //class that contains selected elements
  .Mui-selected {

    // selected label style
    font-weight: bold;
    color: var(--selected-color, var(--foreground-color));

    // selected background icon style
    .MuiSvgIcon-root {
      background-color: var(--selected-bg-color, var(--accent-color));
      border-radius: 12px;
      width: 50px;
      height: 30px;
    }
    
    // selected icons style
    .MuiSvgIcon-root > svg {
      color: var(--selected-color, var(--foreground-color));
    }
    
  }
  
  // ripple touch color
  .MuiTouchRipple-child {
    background-color: var(--accent-color) !important;
  }
}

//pin component to bottom
.stickToBottom {
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media (width > 600px) {
  #bottom-navbar {
    display: none !important;
  }
}
  

  