//fissa il component nella parte bassa dello schermo
.stickToBottom {
  width: 100%;
  position: fixed;
  bottom: 0,
}

//scegli lo stile generale dell'icona
.icon {
    color: var(--icon-color, #333234);
    font-size: var(--icon-size, 24px);
  }

 //scegli lo stile delle label quando vengono selezionate
 .Mui-selected{
    font-weight: bold;
    color: var(--selected-color, #333234);
  }
  
  //scegli lo stile delle icone, e dello sfondo delle icone quando vengono selezionate
  .Mui-selected .MuiSvgIcon-root {
    color: var(--selected-color, #333234);
    background-color: var(--selected-bg-color, #FFDE18);
    padding: 4px 10px;
    border-radius: 25%;
  }
  
  //scegli il colore del ripple touch
  .MuiTouchRipple-child {
    background-color: var(--touch-ripple-color, #333234);
  }


  