

#hamburgericonleft, #hamburgericonright{
    color: var(--foreground-color);
}

@media (width <= 600px) {
    
    #temporarydrawerright{
        display: none;
    }

    #hamburgericonright{
        display: none;
    }  

}

.Typography{
    margin-left:10px;
    white-space: nowrap;
    max-width: 150px;
    width: 150px;
    
    
    
}


.custom-stack {
    justify-content: space-between;
    display: flex;
    align-items: center;
    
    width: 225px;
  }
  
  
.title{
    margin-top: 10px;
    margin-left:10px;
    font-weight: bold;
    font-size: large;
}

.footer{
    margin-top: 40px;
    margin-left:10px;
    
}

.TypographyFooter{
    font-size: small;
    margin: 2px;
}

.divider{
    margin: 10px;
}

.customRating{
    margin-right: 10px;
}

.searchbar{
    margin-left: 10px; 
}

@media (width > 600px) AND (width < 1200px) {
    .searchbar{
        left: -19px;
    }
}

@media (width > 1200px) {
    .searchbar{
        left: -5px;
    }
}

.resizer {
    position: relative;
    transform: scale(0.6);
    margin-left: -50px;
    margin-top: -230px;
}

#fab-chat{
    bottom: 10px;
    right: 25px; 
    position: fixed;
}