
.fab {
    color: var(--white);
    background: var(--accent-color);
    .Add{
        width: 24px;
        height: 24px;
        border-radius: 100%;
    }

}
.fab:hover {
    background-color: var(--accent-color)!important;
}

#fab-mobile{
    position: fixed;
    bottom: 80px;
    right: 20px; 
}

@media (width > 600px) {

    #fab-mobile{
        display: none;

    }  
}

#central-panel{

   
        #fab-esteso{
            display: none;
            background-color: var(--accent-color);
        
}


}
